@font-face {
    font-family: 'AtomicAge';
    src: url('/static/css/AtomicAge-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// buttons
.retro-btn {
    border: none;
    color: text-white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: duration-300 ease-in-out;
    focus: outline-none shadow-outline bg-green-700;
}

.retro-btn:hover {
    background-color: bg-green-700;
    color: text-white;
    font-weight: bold;
    border: rounded;
}

.retro-btn:focus {
    background-color: bg-green-900;
    color: text-white;
    font-weight: italic;
    border: rounded;
}

input:checked ~ .dot {
  transform: translateX(100%);
  //  background-color: #48bb78;
  background-color: #808080;
}

div.inline { float:left; }
.clearBoth { clear:both; }
