<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/retrograde.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <title>Vortex Instrument Labs</title>
    <link rel="shortcut icon" type="image/ico" href="/static/icons/favicon_io/favicon.ico"/>
  </head>
  <body>
    <div class="h-64">
      <div class="p-4 m-4 bg-green-600">
        <div>
          <img style="display:inline-block" src="static/icons/vortex.png" alt="VIL" width="150" height="150">
          <div style="display:inline-block"
               <div style="margin-left:1%;margin-top:5%;font-family:DymaxionScript;font-size:72px" class="text-2xl font-bold text-white">Retrograde&nbsp;&nbsp;Display
               </div>
        </div>
        <div style="font-family:DymaxionScript;font-size:20px" class="text-2xl font-bold text-black">Vortex&nbsp;&nbsp;Instrument&nbsp;&nbsp;Labs</div>
      </div>
    </div>
    <div class="p-4 m-4 bg-green-300 text-green-900 h-auto">
      <div>
        <h1 style="display:inline"> Retrograde: </h1>
        <div style="display:inline" id="date">{{ template['date'] }}</div>
      </div>
      <div>
        <h2 style="display:inline" align=left>version: </h2>
        <div style="display:inline" id="version">{{ version }}</div>
      </div>
      <div>
        <h2 style="display:inline" align=left>host: </h2>
        <div style="display:inline">{{ template['host'] }}</div>
      </div>
      <div>
        <h2 style="display:inline" align=left>serial number: </h2>
        <div style="display:inline">{{ template['serial'] }}</div>
      </div>
      <div>
        <h2 style="display:inline" align=left>WAP: </h2>
        <div style="display:inline">{{ template['wap'] }}</div>
      </div>
      <button type="button" class="retro" onclick="retroButton()">Toggle</button>
    </div>
    <div>
      {% for module in template['modules'] %}
      <div class="p-4 m-4 bg-green-300 text-green-900 h-auto">
        <div>
          <h1 style="display:inline"> {{ module }} module: </h1>
          <div style="display:inline"> {{ template['versions'][module] }}</div>
        </div>
        <div>
          <h2 style="display:inline" align=left>configuration: </h2>
          <div style="display:inline">{{ template['configs'][module] }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
  <script src="static/js/lumen.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io()
    socket.on('connect', function() {
        console.log('client connects')
        socket.send('json', {webapp: 'connects'})
    })
    socket.on('json', function(json, str) {
        console.log('client receives json:', end='');
        console.log(JSON.stringify(json))
        console.log(json['id'])
        document.getElementById(json['id']).innerHTML = json['value']
        console.log(document.getElementById('version'))
    })

    function retroButton() {
        console.log('toggle button pressed')
        socket.emit('json', {webapp: 'toggle-button'})
    }
  </script>
</html>
