[Unit]
# Human readable name of the unit
Description=Retrograde Display service

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
ExecStart=/opt/retrograde/retro/run.sh
User=root
Group=root